body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  margin: auto;
}

h1 {
  background-color: rgba(108, 238, 255, 0.5);
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 4px;
}

.lives {
  margin-left: 100px;
  background-color: rgb(23, 255, 23, 0.65);
}

table {
  width: 400px;
  height: 400px;
  margin: auto;
  border-style: solid;
  table-layout: fixed;
}

.boom {
  background-color: rgb(248, 3, 3) !important;
}

.shown {
  background-color: tomato !important;
}

.safe-cell {
  background-color: rgb(36, 36, 255, 0.3) !important;
  transition: 0.7s;
}

.smile {
  /* background-color: lawngreen; */
  background-image: url("happy.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.cell {
  background-color: rgb(15, 185, 15);
  font-size: 33px;
  box-sizing: border-box;
  border: black;
  width: 50px;
  height: 50px;
  line-height: 0px;
  text-align: center;
  transition: 0.3s;
}

.marked {
  /* display: inline-block; */
  background-image: url("flag.png");
  line-height: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.hint {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 18px;
  border-radius: 40px;
  background-color: rgb(50, 252, 50);
  margin: auto;
  cursor: help;
}

.safe {
  display: inline-block;
  width: 130px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 18px;
  border-radius: 40px;
  background-color: rgb(46, 255, 46);
  font-size-adjust: inherit;
  margin: auto;
  cursor: help;
}

.board {
  margin: auto;
  margin-top: 5px;
  table-layout: fixed;
}

.curr {
  background-color: yellow !important;
}

.levels {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 18px;
  border-radius: 40px;
  background-color: rgb(50, 228, 252);
  cursor: pointer;
}

.lev {
  width: 320px;
  margin: auto;
}
